form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
h3{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    align-self: center;
}
a{
    font-size: 20px;
    font-weight: 900;
    align-self: center;
}
#SignInButton{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 330px;
    font-size: 20px;
    font-weight: 900;
    align-self: center;
}